.product-description-page {
   display: flex;
   flex-direction: row;
   padding-top: 35px;
}

.side-gallery {
   display: flex;
   flex-direction: column;
   width: 80px;
}
.side-image {
   position: relative;
   width: 79px;
   height: 79px;
   display: inline-block;
   margin-bottom: 40px;
}
.side-gallery img {
   object-fit: cover;
   width: 79px;
   height: 79px;
}

.selected-image {
   position: relative;
   width: 610px;
   height: 511px;
   margin: 0 50px 0 40px;
}
.selected-image img {
   object-fit: cover;
   width: 610px;
   height: 511px;
}

.product-details .p-brand,
.product-details .p-name {
   margin: 0;
   font-size: 30px;
   line-height: 27px;
}
.product-details .p-brand {
   font-weight: 600;
   margin-bottom: 10px;
}

.product-details .p-name {
   font-weight: 400;
   margin-bottom: 40px;
}

.product-details .p-brand,
.product-details .p-name,
.product-details .price-title,
.product-details .price-value,
.product-description {
   font-style: normal;
   color: #1d1f22;
}

.product-details .price-title,
.product-details .price-value {
   font-weight: 700;
}
.product-details .price-title {
   font-family: 'Roboto Condensed';
   font-size: 18px;
   line-height: 18px;
   margin-top: 40px;
}

.product-details .price-value {
   font-size: 24px;
   line-height: 18px;
   margin-bottom: 35px;
}

.product-description {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   margin-top: 30px;
}
