.product-description-page {
   display: flex;
   flex-direction: row;
}

.side-gallery {
   display: flex;
   flex-direction: column;
   width: 80px;
}
.side-image {
   position: relative;
   width: 79px;
   height: 79px;
   display: inline-block;
   margin-bottom: 40px;
}
.side-gallery img {
   object-fit: cover;
   width: 79px;
   height: 79px;
}

.selected-image {
   position: relative;
   /* object-fit: cover; */
   width: 610px;
   height: 511px;
   margin: 0 50px 0 40px;
}
.selected-image img {
   object-fit: cover;
   width: 610px;
   height: 511px;
   /* margin: 0 50px 0 40px; */
}

.product-details h2,
.product-details h1 {
   margin: 0;
}
.product-details h2 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 27px;
   color: #1d1f22;
   margin-bottom: 10px;
}

.product-details h1 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 27px;
   color: #1d1f22;
   margin-bottom: 40px;
}

.product-details .price-title {
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;

   color: #1d1f22;
   margin: 40px 0 0 0;
}

.product-details .price-value {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 18px;
   margin-bottom: 35px;
}

.product-description {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #1d1f22;
   margin-top: 30px;
}
