.reusable-btn {
   width: 292px;
   height: 52px;
   left: 929px;
   top: 560px;

   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 120%;
   /* identical to box height, or 19px */

   text-transform: uppercase;

   /* --c-white */
}
.primary {
   border: none;
   color: #ffffff;
   background: #5ece7b;
}

.secondary {
   background: #ffffff;
   border: 1px solid black;
   color: #000;
}
.reusable-btn:hover {
   box-shadow: 0 4px 17px rgba(12, 12, 12, 0.1);
   transform: translate3d(0, 1px, 0);
}
