.products-page {
   position: relative;
   max-width: 1440px;
}

.products-page > h2 {
   position: relative;
   width: 299px;
   height: 68px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 42px;
   line-height: 160%;

   display: flex;
   align-items: center;

   color: #1d1f22;
}

h2::first-letter {
   text-transform: uppercase;
}

.products-container {
   display: grid;
   grid-gap: 16px;
   margin: auto;
}
@media (min-width: 768px) {
   .products-container {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 960px) {
   .products-container {
      grid-template-columns: repeat(3, 1fr);
   }
}
@media (min-width: 1200px) {
   .products-container {
      grid-template-columns: repeat(3, 1fr);
   }
}
