.cursor-pointer {
   cursor: pointer;
}
.img-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(110, 110, 110, 0.061);
}

.main-body-overlay {
   height: 100%;
   position: fixed;
   top: 80px;
   right: 0;
   left: 0;
   margin: 0;
   padding: 0;
   background-color: rgba(45, 44, 44, 0.285);
   z-index: 5;
}
.center-x {
   left: 50%;
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}
.center-y {
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.center-xy {
   left: 50%;
   top: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.element-transition {
   visibility: hidden;
   display: none;
   opacity: 0;
   -webkit-transition: opacity 0.5s, visibility 0.5s;
   transition: opacity 0.5s, visibility 0.5s;
}
.element-transition.show {
   visibility: visible;
   display: block;
   opacity: 1;
}

.hover-effect:hover {
   transform: translate3d(0, -1px, 0);
}
