.cart-item-container {
   /* border: solid red; */
   display: flex;
   justify-content: space-between;
   margin: 20px 0 20px 0;
}

.left-items {
   /* float: left; */
}
.right-items {
   /* border: solid green; */
   /* float: right; */
   display: flex;
}

.cart-item-container .item-brand {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 27px;
   color: #1d1f22;
   margin-bottom: 10px;
}

.cart-item-container .item-name {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 27px;
   color: #1d1f22;
}
.cart-item-container .item-amount {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 24px;
   color: #1d1f22;
}

.cart-quantity-controls {
   /* border: solid yellow; */
   position: relative;
   /* height: 100%; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   margin-right: 15px;
}

.cart-quantity-controls .quantity {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 38px;
   color: #1d1f22;
}

.cart-quantity-controls img {
   /* box-sizing: border-box; */

   width: 45px;
   height: 45px;
   /* border: 1px solid #1d1f22; */
}
