.App {
   position: relative;
   max-width: 1200px;
   /* margin-left: 101px;
  margin-right: 101px; */
   margin: auto;
}

.header {
   position: fixed;
   width: 100%;
   max-width: 1200px;
   height: 80px;
   top: 0px;
   z-index: 6;
   background-color: #ffff;
}

.main-body {
   position: relative;
   top: 82px;
   padding-top: 30px;
}
